.hero{
          background-color: lightgreen;
          height: 100dvh;
}
.hero1{
          background-color: lightgreen;       
}
.hero2{
          background-color: rgb(235, 66, 32);       
}
.hero3{
          background-color: rgb(187, 255, 0);
}
.hero4{
          background-color: rgb(55, 38, 236);
}
.hero5{
          background-color: rgb(211, 26, 54);
}
.hero6{
          background-color: rgb(142, 104, 104);
}